{% extends 'news/default.html' %}

{% load cenzura %}

{% block content %}
    <h2>Список новостей</h2>
<hr />
    <ul>
        {% for post in news %}
            <h3>{{ post.title|censor }}</h3>
            <p>{{ post.creationDate|date:"d.m.Y" }}</p>
            <p>{{ post.content|censor|slice:":20" }} {{"..."}}</p>
            <a href="{% url 'news:news_detail' post.id %}">Читать далее</a>
        {% endfor %}
    </ul>
<hr />
    {% if page_obj.has_previous %}
    <!-- Для каждой ссылки пагинации указываем обработку через новый тег -->
        <a href="?page=1">&laquo; 1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
